#
# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

if BOARD_ILICH_LEFT

config ZMK_KEYBOARD_NAME
	default "I`lich"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # BOARD_ILICH_LEFT


if BOARD_ILICH_LEFT || BOARD_ILICH_RIGHT

config BOARD
	default "ilich"

config ZMK_SPLIT
	default y

endif # BOARD_ILICH_LEFT || BOARD_ILICH_RIGHT
