# Skean board configuration

# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_SKEAN_LEFT
	bool "ilich_left"
	depends on SOC_NRF52833_QIAA

config BOARD_SKEAN_RIGHT
	bool "ilich_right"
	depends on SOC_NRF52833_QIAA
