# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ILICH_LEFT
    def_bool $(shields_list_contains,ilich_left)

config SHIELD_ILICH_RIGHT
    def_bool $(shields_list_contains,ilich_right)
